.suid-s-paster-box {
  padding: 8px;
  border: 1px solid #ccc;
  outline: none; /* 防止默认的焦点样式 */
  transition: box-shadow 0.3s ease-in-out;
}

.suid-s-paster-box:hover {
  outline: 2px solid #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 50%);
}
